<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.text_area :category_name, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
